body {
    background-color: #007bff; /* 青系統 */
    color: white;
}

.table-light {
    background-color: #cce5ff !important;
    color: #004085;
}

.form-control {
    background-color: #007bff;
    color: white;
    border: 1px solid #004085;
}

.btn-light.text-primary {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
}

.btn-outline-light {
    border-color: white;
    color: white;
}
