.wrapper{
    margin: 0 auto;
}
body{
    min-height: 100%;
    height: 100%;
}
.clearfix ::after{
    content:"";
    display: block;
    clear: both;
}
.header{
    width: 400px;
    height: 100px;
    background-color: #ffce7a;
}
.left{
    float: left;
    width: 150px;
    height: 250px;
    background-color: #9dddf4;
}
.contents{
    height: 250px;
}
.center{
    float: left;
    width: 150px;
    height: 150px;
}
.center-right{
    float: left;
    height: 250px;
}
.center-up{
    width: 150px;
    height: 50px;
    background-color: #c2ffc8;
}
.center-middle{
    width: 150px;
    height: 100px;
    background-color: #ffc2c5;
}
.center-lower{
    width: 250px;
    height: 100px;
    background-color: #fff083;
}
.right{
    float: right;
    width: 100px;
    height: 150px;
    background-color: #f89c9c;
}
.footer{
    width: 400px;
    height: 100px;
    background-color: #bea5ff;
}
*{
    margin: 0;
    padding: 0;
}